.headerLinks {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.headerLinks a {
  margin-right: 36px;
}

.dropdownMenu {
  position: fixed;
  top: 47px;
  right: 24px;
  width: 948px;
  visibility: hidden;
  height: auto;
  opacity: 0;
  transition: all 0.25s ease;
  padding: 24px;
  transform: translateY(40px);
  z-index: 101;
  border-radius: 8px;
  text-align: left;
  border: 1px solid #f4f4f4;
  box-shadow: 0 10px 25px rgba(17, 17, 17, 0.1);
  background-color: hsla(0, 0%, 100%, 0.97);
}

.dropdownMenuHovered {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}
